body{
  display: grid;
  grid-template-areas:
  "header";
  margin: 0;
}

header{
  display: grid;
  grid-area: "header";
  grid-template-columns: 0.5fr 3fr 4.5fr 1.5fr 1.5fr;
  background-color: #3aafa9;
}

.logo{
  grid-column: 1/2;
  font-family: 'Luckiest Guy', cursive;
  font-size: 25px;
  line-height: 25px;
  color: #fff;
  padding: 20px 30px;
}
.header_list a,li{
  text-decoration: none;
  color: white;
  list-style: none;
  display: inline;
  padding: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;

}
.header_list ul{
  margin: 32px 0;
}
.header_createsurvey{
  grid-column: 4/5;
  padding: 10px 10px 10px 30px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin: 25px 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  background-color: black;
  border-color: black;
}
.header_createsurvey a{
  text-decoration: none;
  color: white;
}
.header_list a:hover{

}

header_uername a::after{
  content:
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline;
  border-top: 5px solid black;
}
