{% include 'header.html'%}
{% load static %}
<div class="signin {% if form == 'form' %} active{% endif %}" id="signin">
  <div class="signin_left">
    <div class="signin_header">
      Log in to get track<br>
      of your suvey response
    </div>

    <form id="signin_form" action="{% url 'login' %}" class="" method="post">
      {% csrf_token %}
      <input id="signin_username"  type="text" name="username" value="" size="50" placeholder="Email" required>
      <p id="signin_username_error"></p>
      <input id="signin_password" type="password" name="password" value="" size="50" placeholder="Password" required>
      {% for message in messages %}
          <p id="username_password_error">{{ message }}</p>
      {% endfor %}
      <button id="signin_button" class="button" type="submit" name="button">Sign In</button>
    </form>
    <div class="signin_forgetpwd">
      <a href="{% url 'password_change' %}">Forgot Password?</a>
    </div>
  </div>
  <div class="signin_google">
    <div class="signin_google_border">
      <div class="signin_google_content">
        or Sign In With
      </div>
    </div>
    <div class="signin_google_link">
        <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
    </div>
  </div>
  <div class="signin_right">
  </div>
</div>
